body
  margin 0
  padding 0
  display flex
  i
  color white
  .dir
    height 100%vh
    width 300px
    background-color gray
    overflow scroll
    border 1px solid black
  .dir2
    height 100%vh
    width 300px
    background-color gray
    overflow scroll
    border 1px solid black
  .file
    height 100%vh
    width 300px
    background-color gray
    overflow scroll
    border 1px solid black
  ul
    list-style none
    padding-left 0